.version.ciaran_trotman__about /* version checker */
{
	color: #000015;
	background-color: #AC1546;
}

#page
{
	z-index: 1;
	width: 940px;
	min-height: 452px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
}

#ppamphletu9340
{
	z-index: 3;
	width: 0.01px;
	height: 0px;
	padding-bottom: 1073px;
	margin-right: -10000px;
	margin-left: -100px;
}

#pamphletu9340
{
	z-index: 3;
	width: 0.01px;
	height: 98px;
	padding-bottom: 961px;
	position: fixed;
	top: 14px;
	left: 280px;
}

#u9347
{
	position: absolute;
	width: 771px;
	height: 1059px;
	border-width: 0px;
	background-color: transparent;
}

#u9347popup
{
	z-index: 4;
}

#u9365
{
	z-index: 5;
	width: 720px;
	height: 969px;
	background-color: #FFFFFF;
	padding-top: 90px;
	padding-right: 51px;
	margin-right: -10000px;
	position: relative;
}

.fullHeight
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#u9369-5
{
	z-index: 6;
	width: 719px;
	min-height: 40px;
	background-color: transparent;
	color: #414042;
	margin-left: 1px;
	position: relative;
}

#u12418-9
{
	z-index: 20;
	width: 720px;
	min-height: 103px;
	background-color: transparent;
	color: #414042;
	margin-top: 15px;
	position: relative;
}

#u9367-9
{
	z-index: 11;
	width: 720px;
	min-height: 103px;
	background-color: transparent;
	color: #414042;
	margin-top: 15px;
	position: relative;
}

#u9368-9
{
	z-index: 29;
	width: 720px;
	min-height: 69px;
	background-color: transparent;
	color: #414042;
	margin-top: 14px;
	position: relative;
}

#u9372-9
{
	z-index: 38;
	width: 720px;
	min-height: 86px;
	background-color: transparent;
	color: #414042;
	margin-top: 14px;
	position: relative;
}

#u9374-9
{
	z-index: 47;
	width: 720px;
	min-height: 70px;
	background-color: transparent;
	color: #414042;
	margin-top: 14px;
	position: relative;
}

#u9373-9
{
	z-index: 56;
	width: 719px;
	min-height: 87px;
	background-color: transparent;
	color: #414042;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u9370-9
{
	z-index: 65;
	width: 719px;
	min-height: 89px;
	background-color: transparent;
	color: #414042;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u9366-9
{
	z-index: 74;
	width: 719px;
	min-height: 86px;
	background-color: transparent;
	color: #414042;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u9371-9
{
	z-index: 83;
	width: 719px;
	min-height: 88px;
	background-color: transparent;
	color: #414042;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u9353
{
	z-index: 92;
	width: 720px;
	height: 251.84999999999997px;
	background-color: #FFFFFF;
	padding-top: 90px;
	padding-right: 51px;
	padding-bottom: 717.1500000000001px;
	margin-right: -10000px;
	position: relative;
}

#u9354-5
{
	z-index: 93;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	color: #414042;
	position: relative;
}

#pu9355-10
{
	z-index: 98;
	width: 0.01px;
	margin-top: 24px;
}

#u9355-10
{
	z-index: 98;
	width: 720px;
	min-height: 103px;
	background-color: transparent;
	color: #414042;
	position: relative;
	margin-right: -10000px;
}

#u9355-3
{
	font-size: 13px;
	line-height: 20px;
	padding-right: 25px;
	padding-bottom: 5px;
}

#u9355-5
{
	font-size: 11px;
	line-height: 17px;
	padding-right: 25px;
	padding-bottom: 5px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u9355-7
{
	font-size: 11px;
	line-height: 17px;
	padding-right: 25px;
	padding-bottom: 5px;
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u9355-8
{
	font-size: 11px;
	line-height: 17px;
	padding-right: 25px;
	padding-bottom: 5px;
}

#u9356-9
{
	z-index: 108;
	width: 720px;
	min-height: 103px;
	background-color: transparent;
	color: #414042;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#u9356-3
{
	font-size: 13px;
	line-height: 20px;
	padding-right: 15px;
	padding-bottom: 5px;
}

#u9356-5
{
	font-size: 11px;
	line-height: 17px;
	padding-right: 15px;
	padding-bottom: 5px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u9356-7
{
	font-size: 11px;
	line-height: 17px;
	padding-right: 15px;
	padding-bottom: 5px;
}

#u9357
{
	z-index: 117;
	width: 720px;
	height: 817.5999999999999px;
	border-width: 0px;
	background-color: #FFFFFF;
	padding-top: 90px;
	padding-right: 51px;
	padding-bottom: 151.4000000000001px;
	margin-right: -10000px;
	position: relative;
}

#u9359-5
{
	z-index: 158;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	color: #414042;
	position: relative;
}

#u12424-9
{
	z-index: 181;
	width: 720px;
	min-height: 69px;
	background-color: transparent;
	color: #414042;
	margin-top: 15px;
	position: relative;
}

#u10535-9
{
	z-index: 172;
	width: 720px;
	min-height: 69px;
	background-color: transparent;
	color: #414042;
	margin-top: 15px;
	position: relative;
}

#u10535-7
{
	font-size: 11px;
	line-height: 17px;
	padding-bottom: 5px;
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u9364-9
{
	z-index: 163;
	width: 720px;
	min-height: 69px;
	background-color: transparent;
	color: #414042;
	margin-top: 17px;
	position: relative;
}

#u9363-9
{
	z-index: 190;
	width: 720px;
	min-height: 88px;
	background-color: transparent;
	color: #414042;
	margin-top: 17px;
	position: relative;
}

#u9358-9
{
	z-index: 118;
	width: 720px;
	min-height: 70px;
	background-color: transparent;
	color: #414042;
	margin-top: 18px;
	position: relative;
}

#u9362-9
{
	z-index: 149;
	width: 720px;
	min-height: 87px;
	background-color: transparent;
	color: #414042;
	margin-top: 17px;
	position: relative;
}

#u9361-9
{
	z-index: 127;
	width: 720px;
	min-height: 86px;
	background-color: transparent;
	color: #414042;
	margin-top: 17px;
	position: relative;
}

#u9360-13
{
	z-index: 136;
	width: 720px;
	min-height: 88px;
	background-color: transparent;
	color: #414042;
	margin-top: 17px;
	position: relative;
}

#u12418-7,#u9367-7,#u9368-7,#u9372-7,#u9374-7,#u9373-7,#u9370-7,#u9366-7,#u9371-7,#u12424-7,#u9364-7,#u9363-7,#u9358-7,#u9362-7,#u9361-7,#u9360-11
{
	font-size: 11px;
	line-height: 17px;
	padding-bottom: 5px;
}

#u9360-7
{
	font-family: roboto, sans-serif;
}

#u9348
{
	z-index: 199;
	width: 720px;
	height: 285px;
	border-width: 0px;
	background-color: transparent;
	padding-top: 90px;
	padding-right: 51px;
	padding-bottom: 684px;
	margin-right: -10000px;
	position: relative;
}

#u9349-5
{
	z-index: 207;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	color: #414042;
	position: relative;
}

#u9369-3,#u9354-3,#u9359-3,#u9349-3
{
	padding-top: 25px;
}

#u9350-7
{
	z-index: 212;
	width: 720px;
	min-height: 50px;
	background-color: transparent;
	color: #414042;
	margin-top: 24px;
	position: relative;
}

#u9352-7
{
	z-index: 219;
	width: 720px;
	min-height: 50px;
	background-color: transparent;
	color: #414042;
	margin-top: 34px;
	position: relative;
}

#u9351-7
{
	z-index: 200;
	width: 720px;
	min-height: 50px;
	background-color: transparent;
	color: #414042;
	margin-top: 18px;
	position: relative;
}

#u12418-3,#u9367-3,#u9368-3,#u9372-3,#u9374-3,#u9373-3,#u9370-3,#u9366-3,#u9371-3,#u12424-3,#u10535-3,#u9364-3,#u9363-3,#u9358-3,#u9362-3,#u9361-3,#u9360-3,#u9350-3,#u9352-3,#u9351-3
{
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 5px;
}

#u9369,#u12418,#u9367,#u9368,#u9372,#u9374,#u9373,#u9370,#u9366,#u9371,#u9354,#u9355,#u9356,#u9359,#u12424,#u10535,#u9364,#u9363,#u9358,#u9362,#u9361,#u9360,#u9349,#u9350,#u9352,#u9351
{
	font-family: roboto, sans-serif;
	font-weight: 700;
}

#u9369-2,#u12418-2,#u12418-6,#u9367-2,#u9367-6,#u9368-2,#u9368-6,#u9372-2,#u9372-6,#u9374-2,#u9374-6,#u9373-2,#u9373-6,#u9370-2,#u9370-6,#u9366-2,#u9366-6,#u9371-2,#u9371-6,#u9354-2,#u9355-2,#u9356-2,#u9356-6,#u9359-2,#u12424-2,#u12424-6,#u10535-2,#u9364-2,#u9364-6,#u9363-2,#u9363-6,#u9358-2,#u9358-6,#u9362-2,#u9362-6,#u9361-2,#u9361-6,#u9360-2,#u9360-6,#u9360-10,#u9349-2,#u9350-2,#u9352-2,#u9351-2
{
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u12418-5,#u9367-5,#u9368-5,#u9372-5,#u9374-5,#u9373-5,#u9370-5,#u9366-5,#u9371-5,#u12424-5,#u10535-5,#u9364-5,#u9363-5,#u9358-5,#u9362-5,#u9361-5,#u9360-5,#u9350-5,#u9352-5,#u9351-5
{
	font-size: 11px;
	line-height: 17px;
	padding-bottom: 5px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u9375
{
	z-index: 226;
	width: 690px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1px;
}

#u9384
{
	position: absolute;
	width: 170px;
	height: 22px;
	border-width: 0px;
	background-color: #FFFFFF;
	padding-bottom: 6px;
}

#u9385-4
{
	z-index: 228;
	width: 170px;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: left;
	color: #414042;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u9384:hover #u9385-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 5px -10000px 0px 0px;
}

#u9384:active #u9385-4
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 5px -10000px 0px 0px;
}

#u9384:hover #u9385-4 p
{
	font-family: roboto, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u9384:active #u9385-4 p
{
	font-family: roboto, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u9388
{
	position: absolute;
	width: 170px;
	height: 23px;
	border-width: 0px;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	left: 173px;
}

#u9388.PamphletThumbSelected
{
	background-color: transparent;
	width: 170px;
	height: 23px;
	min-height: 0px;
	margin: 0px;
}

#u9391-4
{
	z-index: 233;
	width: 170px;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: left;
	color: #414042;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u9388:hover #u9391-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 6px -10000px 0px 0px;
}

#u9388:active #u9391-4
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 6px -10000px 0px 0px;
}

#u9388:hover #u9391-4 p
{
	font-family: roboto, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u9388:active #u9391-4 p
{
	font-family: roboto, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u9380
{
	position: absolute;
	width: 170px;
	height: 22px;
	border-width: 0px;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	left: 347px;
}

#u9384.PamphletThumbSelected,#u9380.PamphletThumbSelected
{
	width: 170px;
	height: 22px;
	min-height: 0px;
	margin: 0px;
}

#u9381-4
{
	z-index: 238;
	width: 170px;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: left;
	color: #414042;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u9384.PamphletThumbSelected #u9385-4,#u9380:hover #u9381-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 5px -10000px 0px 0px;
}

#u9380:active #u9381-4
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 5px -10000px 0px 0px;
}

#u9380.PamphletThumbSelected #u9381-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 5px -10000px 0px 0px;
}

#u9380:hover #u9381-4 p
{
	font-family: roboto, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u9380:active #u9381-4 p
{
	font-family: roboto, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u9376
{
	position: absolute;
	width: 170px;
	height: 23px;
	border-width: 0px;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	left: 520px;
}

#u9376.PamphletThumbSelected
{
	width: 170px;
	height: 23px;
	min-height: 0px;
	margin: 0px;
}

#u9377-4
{
	z-index: 243;
	width: 170px;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: left;
	color: #414042;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u9388.PamphletThumbSelected #u9391-4,#u9376:hover #u9377-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 6px -10000px 0px 0px;
}

#u9376:active #u9377-4
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 6px -10000px 0px 0px;
}

#u9376.PamphletThumbSelected #u9377-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
	margin: 6px -10000px 0px 0px;
}

#u9376:hover #u9377-4 p
{
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9376:active #u9377-4 p
{
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9384.PamphletThumbSelected #u9385-4 p,#u9388.PamphletThumbSelected #u9391-4 p,#u9380.PamphletThumbSelected #u9381-4 p,#u9376.PamphletThumbSelected #u9377-4 p
{
	padding-left: 0px;
	font-family: roboto, sans-serif;
	font-weight: 900;
	font-style: normal;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u12093
{
	z-index: 247;
	width: 280px;
	height: 438px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#menuu11825
{
	z-index: 248;
	width: 220px;
	height: 70px;
	position: fixed;
	top: 397px;
	left: 30px;
}

#u11836
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u11836:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11836:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11839-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11836:hover #u11839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11836:active #u11839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11841
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u11836.MuseMenuActive,#u11841:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11841:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11842-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11836.MuseMenuActive #u11839-4,#u11841:hover #u11842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11841:active #u11842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11829
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u11841.MuseMenuActive,#u11829:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11829:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11830-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11841.MuseMenuActive #u11842-4,#u11829:hover #u11830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11829:active #u11830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11847-16
{
	z-index: 267;
	width: 220px;
	min-height: 299px;
	position: fixed;
	top: 62px;
	left: 30px;
}

#menuu11848
{
	z-index: 283;
	width: 220px;
	height: 148px;
	position: fixed;
	top: 487px;
	left: 30px;
}

#u11833,#u11856
{
	width: 220px;
	position: relative;
}

#u11859
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u11829.MuseMenuActive,#u11859:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11859:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11861-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11829.MuseMenuActive #u11830-4,#u11859:hover #u11861-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11859:active #u11861-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11866
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u11859.MuseMenuActive,#u11866:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11866:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11869-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11859.MuseMenuActive #u11861-4,#u11866:hover #u11869-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11866:active #u11869-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11873
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u11866.MuseMenuActive,#u11873:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11873:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11875-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11866.MuseMenuActive #u11869-4,#u11873:hover #u11875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11873:active #u11875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11880
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u11873.MuseMenuActive,#u11880:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11880:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11883-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11873.MuseMenuActive #u11875-4,#u11880:hover #u11883-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11880:active #u11883-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11885
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u11880.MuseMenuActive,#u11885:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11885:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11887-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11880.MuseMenuActive #u11883-4,#u11885:hover #u11887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11885:active #u11887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11840,#u11826,#u11863,#u11870,#u11877,#u11884,#u11849
{
	width: 220px;
	margin-top: 2px;
	position: relative;
}

#u11852
{
	width: 220px;
	min-height: 14px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u11885.MuseMenuActive,#u11852:hover
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11852:active
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11852.MuseMenuActive
{
	width: 220px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u11855-4
{
	width: 220px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u11885.MuseMenuActive #u11887-4,#u11852:hover #u11855-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11852:active #u11855-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u11852.MuseMenuActive #u11855-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 220px;
	margin: 0px -10000px 0px 0px;
}

#u9339
{
	z-index: 2;
	height: 1059px;
	background-color: #FFFFFF;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u9339-bw
{
	z-index: 2;
	height: 1059px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 940px;
}


