#left
{
    font-family:    Roboto, sans-serif; 
    font-size:      13px;
    color:          #101010;
    width:          475px;
    padding:        60px;
    line-height:    18px;
}
#interactivecanvas
{
    border:         1px solid red;
}